* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  background: linear-gradient(rgb(39, 71, 56), rgb(28, 52, 41));
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.hero-img {
  width: 40rem;
  height: auto;
  margin-top: 7rem;
}

.title {
  margin-top: 4rem;
}

.input-box {
  border: none;
  width: 18rem;
  height: 2.4rem;
  background-color: #294236;
  color: #d7fbe9;
  padding-left: 10px;
}

.input-box::placeholder {
  color: #d7fbe9;
  /* padding-left: 10px; */
}

.input-box:focus {
  outline: none;
}

.add-task-container {
  background-color: #559a7a;
  /* padding: 2rem 8rem; */
  width: 30rem;
  height: 4rem;
  border-radius: 10px;
}

.add-task-btn {
  background-color: #294236;
  color: #d7fbe9;
}

.add-task-btn:hover {
  background-color: #355445;
}

#incomplete-task,
#completed-task {
  background-color: #559a7a;
  padding: 10px;
  color: #294236;
}

.edit-btn,
.check-btn,
.close-btn,
.task-item {
  color: #d7fbe9;
}

.task-item {
  background-color: #294236;
  font-size: 1rem;
  padding: 2px 10px 5px 10px;
  width: 100%;
  border-radius: 5px;
  vertical-align: center;
  border: none;
}

.task-item:focus {
  outline: none;
}
.task-item::placeholder {
  color: #d7fbe9;
}

.edit-btn,
.check-btn,
.close-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 100px;
}

.task-control {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
  margin-top: 8px;
}

.edit-btn {
  background-color: #f4c2c9;
}

.edit-btn:hover {
  background-color: #d0a5ab;
  color: #d7fbe9;
}

.check-btn {
  background-color: #7676e7;
}
.check-btn:hover {
  background-color: #6767ca;
  color: #d7fbe9;
}
.close-btn {
  background-color: #ed3a4e;
}

.close-btn:hover {
  background-color: #d33447;
  color: #d7fbe9;
}

.shadow {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5),
    inset 0.5px 1px 1px rgba(255, 255, 255, 0.5) !important;
}
